.new,
.in-stock,
.sizes,
.cart,
.article,
.heading,
.header,
.menu,
.btn,
.latest {
    text-transform: uppercase;
}

.logomobile {
    display: none;
}

.header {
    background-color: black;
    color: white;
    width: 100%;
    height: 4%;
    position: fixed;
    top: 0;
    left: 0;
}

.top-right {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 200px;
    margin-top: 10px;
}

.top-left {
    margin-left: 200px;
    margin-top: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ececec ;
}

.top-right a {
    color: white;
    text-decoration: none;
}

.headerlink {
    padding-left: 15px;
}

.headertext {
    padding-right: 15px;
}

.menu {
    margin-top: 38px;
    background-color: white;

}

.btn {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.menu-left a,
.menu-right a {
    text-decoration: none;
    color: black;
}

.menu a {
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 17px;
}

.menu .icon {
    display: none;
}

.fa-shopping-cart {
    margin-left: 10px;
}

/* Layout for desktop */
@media screen and (min-width: 601px) {
    .btn {
        margin-top: 14px;
    }

    .menu {
        height: 100px;
        display: flex;
        justify-content: center;
        margin-left: -7px;
        margin-right: -7px;
    }

    .menu-left,
    .menu-right {
        margin-top: 20px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .product-card {
        width: 40%;
        height: 870px;
    }

}

/* Layout for mobile */
@media screen and (max-width: 600px) {
    .menu a.icon {
        float: right;
        display: block;
    }

    .menu.responsive {
        position: relative;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;

    }

    .menu.responsive .btn {
        display: block;
    }

    .menu a,
    .btn {
        display: none;
    }

    .logo {
        display: none;
    }

    .btn {
        margin-left: 10px;
        margin-top: 14px;
        padding-bottom: 15px;
    }

    .header {
        display: none;
    }

    .logomobile {
        display: block;
        position: absolute;
        left: 0;
        top: 0;

    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .product-card {
        width: 100%;
        margin: 0 auto;
    }

    .text-line {
        display: none;
    }

    .more-products {
        padding-top: 50px;
    }

}

.product-card,
.slideshow {
    float: left;
}

.new,
.in-stock {
    display: inline-block;
}

.top {
    margin-top: -17px;
}

.article,
.no {
    display: inline-block;
}

.new {
    color: white;
    background-color: black;
    padding: 5px 20px;
}

.fa-check {
    color: green;
}

.size {
    color: black;
    background-color: white;
    border: solid black;
    margin-bottom: 20px;
}

.cart {
    color: white;
    background-color: black;
    padding: 10px 30px;
    outline:none;
    border: none;
}

.article-no {
    margin-top: 35px;
    margin-bottom: 20px;
}

.product-card {
    border: solid red;
}

.fa-chevron-down {
    float: right;
}

.description,
.description2,
.description3,
.description4 {
    display: none;
}

.center {
    text-align: center;
}

.hackett-logo {
    margin-top: 20px;
}

.sizes {
    margin-top: 35px;
}

.price,
.no {
    font-weight: bold;
}

hr {
    margin-top: 17px;
    margin-bottom: 17px;
}

.more-products {
    clear: both;
    text-align: center;
}

.product,
.product2,
.product3,
.product4 {
    display: inline-block;
}

.product,
.product2,
.product3 {
    margin-right: 30px;
}

.price-tag-line,
.sale-tag {
    display: inline-block;
}

.sale-tag {
    color: red;
}

.price-tag-line {
    text-decoration: line-through;
}

.more,
.all {
    display: inline-block;
}

.text-line {
    clear: both;
    margin-top: 1000px;
    margin-bottom: 20px;
}

.all a {
    text-decoration: none;
    color: black;
}

.all-products {
    position: relative;
    left: 70%;
}

.more {
    position: relative;
    left: 8%;
}

.newsletter {
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}

.latest {
    position: absolute;
    top: 70px;
    right: 300px;
    width: 100%;
}

.mail-list {
    position: absolute;
    bottom: 120px;
    right: 300px;
    width: 100%;
}

.mail {
    position: absolute;
    bottom: 150px;
    left: 250px;
    width: 100%;

}

.mail-field {
    padding: 10px 20px;
}

.mail-btn {
    background-color:#000033;
    color: white;
    border: none;
    outline:none;
    padding: 12px 25px;
}

.social-media {
    text-align: center;
    background-color: #d8d8d8;
    padding-top: 30px;
    padding-bottom: 30px;
}

.facebook, .instagram, .news {
    padding: 10px 100px;
    background-color: #d8d8d8;
    outline:none;
    border: 2px solid black;
}

.facebook, .instagram {
    margin-right: 10px;
}

.footer {
    background-color: black;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

td, th {
    padding-bottom: 20px;
}

td {
    padding-left: 20px;
}